option_settings:
  - namespace: 'aws:elasticbeanstalk:container:php:phpini'
    option_name: document_root
    value: /public

files:
    "/home/ec2-user/config.php" :
      mode: "000755"
      owner: root
      group: root
      content: |
        <?php
        $auth_config['test'] = '$P$BKKa.CtcsHSA0BSvYInJHXBOlroSb1.';
        $conf['debug'] = true;

container_commands:
  01_copy_config:
    command: "cp /home/ec2-user/config.php ."
  02_init_db:
    command: "touch app/db/db.sqlite"
  03_run_migrations:
    command: "php database/migrate.php"
  04_chown_db:
    command: "chown webapp:webapp app/db/db.sqlite"
