text, svg .nvd3.nv-pie .nv-pie-title, .nvd3 .nv-discretebar .nv-groups text, .nvd3 .nv-multibarHorizontal .nv-groups text{
   fill: #aaa;
}
.nvd3 .nv-axis path{stroke: #aaa}
.nvd3.nv-pie path{stroke: #272B30}
.nvtooltip, .nvtooltip table{
   color: #aaa;
   background-color: #272B30;
}
